// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #40566F;
$yellow: #FFC65A;
$orange: #E67E22;
$teal: teal;
$green: rgb(117,226,215);
$gray: #40566F;
$light-gray: #F4F4F4;
