<!-- popup.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="application.scss">
  </head>
  <body>
    <!-- Modal -->
    <div class="modal fade" id="event-modal-<%= day_of_year %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <!--<% date_calculation = @calendar.calculate_date(params[:today].to_i) %> This has been refactored -->
            <h5 class="modal-title" id="exampleModalLabel"><%= @calendar.event_day_calculation(day_of_year) %></h5>
            <!--<%= date_calculation.keys.first %> - <#%= date_calculation.values.first %> This is part of the above method~ now in model-->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'events/form', day_of_year: day_of_year %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
