@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
body {
 font-family: 'Roboto', sans-serif;
 padding: 8px;
}

input {
  width: 70%;
  padding: 12px;
  /* border-radius: 4px; */
  margin: 5px 0;
  opacity: 0.8;
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  text-align: left;
}

#send-data {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.8;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    background-color: #75e2d7;
    margin-bottom: 1rem !important;
}
#send-data:hover {
  color: white;
  background-color: black;
  text-shadow: none;
}

#private-check {
  position: relative;
}

#private {
    position: absolute;
    top: -20px;
    left: -55px;
}

h4 {
  font-size: small;
  font-weight: 400;
  margin-bottom: 8px;
}

h4:last-child {
  margin-top: 2px;
  margin-bottom: 2px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
  margin-bottom: -16px;
}

#mimic-book {
  width: 32px;
  height: 32px;
}

#current-date {
  margin: 0px;
}
