<div class="container-landing">
  <div class="card-info" style="line-height: 32px;">
    <div class="card-body">
      <div class="col-md-12">
        <div class="title">
          <h1>Mimic's Blackberry</h1>
        </div>
        <div class="col">
          <p class="text-center">Add something here related to the app</p>
          <%= link_to calendars_path do %>
            <div>
              <button type="button" class="button-landing">GET STARTED</button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-bottom">
  <div class= "cards-bottom">
    <div class="card-bottom">
      <h2><strong><i class="fas fa-hat-wizard"></i></strong></h2>
      <h2><strong>Create</strong></h2>
      <p>Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="card-bottom">
      <h2><strong><i class="fas fa-bullhorn"></i></i></strong></h2>
    <h2><strong>Be Notified</strong></h2>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="card-bottom">
    <h2><strong><i class="fas fa-users"></i></i></strong></h2>
  <h2><strong>Connect</strong></h2>
  <p>Lorem ipsum dolor sit amet.</p>
</div>
</div>
</div>
