<div class ="landing-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://444vno15v5re20btub322y5h-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/The-World-of-CR_Photo-by-Ray-Kachatorian_1280X720_rev1.jpg);">
  <!--<div style="background: linear-gradient(to right bottom, rgb(108, 255, 178), rgb(126, 193, 255));"> -->
  <div class="container-landing">
    <div class="card-info" style="line-height: 32px;">
      <div class="card-body">
        <div class="col-md-12" style="background-color: rgba(25, 25, 25, 0.03);border-radius: 25px;">
          <div class="title">
            <h1>Mimic's</h1>
            <h1>Blackberry</h1>
          </div>
          <div>
            <p class="text-center">Save some trees, keep your calendars</p>
            <p class="text-center">in our vaults</p>
            <%= link_to calendars_path do %>
              <div>
                <button type="button" class="button-landing">GET STARTED</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-bottom">
    <div class= "cards-bottom">
      <div class="card-bottom">
        <h2><strong><i class="fas fa-hat-wizard"></i></strong></h2>
        <h2><strong>Create</strong></h2>
        <p>Game masters can create game sessions, fill out and track vital information and events.</p>
      </div>
      <div class="card-bottom">
        <h2><strong><i class="fas fa-bullhorn"></i></i></strong></h2>
      <h2><strong>Be Notified</strong></h2>
      <p>Be notified and also invited every time a new game session is created!.</p>
    </div>
    <div class="card-bottom">
      <h2><strong><i class="fas fa-users"></i></i></strong></h2>
    <h2><strong>Connect</strong></h2>
    <p>Communicate with your party members adding important notes to the calendars.</p>
  </div>
</div>
