<div><i class="fas fa-caret-down cursor-pointer" data-toggle="modal" data-target="#event-info-modal<%= event.id %>"></i> <%= event.name %></div>
<!--TODO Add information about event here in a modal or accordian-->
