<div>
  <button type="button" class="btn btn-outline-success ml-1" data-toggle="modal" data-target="#exampleModal">Game Descriptions</button>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-edit-title" id="exampleModalLabel" style="grid-temlate-columns: 75px max-content 75px;">
            <h6>Add Game Description</h6>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card-edit-form">
            <%= simple_form_for [@calendar] do |f| %>
              <%= f.input :title, required: false %>
              <%= f.input :description, required: false %>
              <%= f.submit "Save Changes", class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
