<div>
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="/calendars" class="tab-underlined active">Games</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">Profile</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">GM's Tool Kit</a>
    </li>
  </ul>
</div>
<div class="wrapper">
  <h2><strong>Recent Games<span></span></strong></h2>
</div>
<div class="container-vault">
  <div class="row">
    <div class="col-md-3">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="cards-vault">
        <div class="card-vault" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Breakfast
        </div>
      </div>
    </div>
  </div>
</div>
