<div class="container-box d-flex">
  <div class="col-md-8">
    <h1 class="row justify-content-center">RECENT GAMES</h1>
    <div style="float: right; margin-right: 60px; margin-top: 7px;">
      <div class="calendars">
        <div class="row justify-content-center">
          <div class="cards">
            <% @calendars.each do |calendar| %>
              <%= link_to calendar_path(calendar) do %>
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'eberron.jpg' %>)">
                  Eberron
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="side-options">
    <div style="float: right; margin-right: 60px; margin-top: 7px;">
      <%= link_to 'New Calendar', new_calendar_path, class: "btn btn-sm" %>
      <br>
      <br>
      <a href="#" class="btn btn-sm">Join a Game</a>
    </div>
  </div>
</div>
