<!-- TAKE MONTH ID TO GET MONTH FROM CALENDAR-->
<div class="background-month" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= image_path 'eberron.jpg'%>)">
  <h1 class="month-title mb-3"><%= @month_name%></h1>
  <div class="month-card-container" style="border: solid 4px #512002">
    <% #display name of month %>
    <% #container for month partials%>
    <div id="calendar-container" class="" style="display:grid; grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: dense;">
      <% @day_of_year = get_year_day_from_month(params[:month_id].to_i)%>
      <% day_of_month = 0 %>
      <% @today = params[:today]%>
      <% days_of_week_counter = 0 %>
      <% #iterate over every day in the current month%>
      <% @month_days.times do %>
        <% day_of_month += 1 %>
        <% @day_of_year += 1 %>
        <%= render "calendars/day", :calendar => @calendar, :counter => day_of_month,
      :days_of_week_counter => days_of_week_counter, :day_of_year => @day_of_year, :today => @today %>
        <% days_of_week_counter += 1 %>
        <% if days_of_week_counter == @calendar.weekdays.length then days_of_week_counter = 0 %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
