<div class="container">
  <#% @calendar.each do |calendar| %>
    <h6><%= calendar.start_day %></h6>
    <h6><%= calendar.start_year %></h6>
    <h6><%= calendar.current_day %></h6>
    <h6><%= calendar.months %></h6>
  </div>
