
.bottom-buttons {
  margin: 50px 0px;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.months-card-container {
  padding: 16px;
  width: 85%;
  overflow: overlay;
}

.arrow-buttons {
  margin: 30px 16px 16px 16px;
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.fas.fa-caret-left {
 color: rgba(27,40,54, 0.3);
 font-size: 38px;
 padding-top: 12px;

}

.fas.fa-caret-right {
  color: rgba(27,40,54, 0.3);
  font-size: 38px;
  padding-top: 12px;

}

.fas.fa-home {
  color: rgb(117,226,215);
  font-size: 32px;
}

.fas.fa-chevron-circle-left {
  color: rgb(117,226,215);
  font-size: 32px;
}


.fas.fa-home:hover {
  color: rgb(65, 189, 211);
  font-size: 33px;
}

.fas.fa-chevron-circle-left:hover {
   color: rgb(65, 189, 211);
  font-size: 33px;
}


// Added by me
#months-container a {
  font-family: 'Akaya Telivigala', cursive;
    opacity: 0.7;
    font-size: 18px;
    width: 230px;
    margin-top: 16px;
    text-align: center;
    margin: 7px;

    h3 {
      font-size: 24px;
      margin-bottom: 6px;
    }
}

.card-game-info {
    width: 260px;
}

.container-game-info {
  display: flex;
}

.title-info {
}


.bottom-buttons-year {
  display: flex;
  width: 90%;
  // margin: 16px;
  justify-content: space-between;
}


.fas.fa-chevron-circle-left {
  font-size: 32px;
  color: rgb(117,226,215);
}

.fas.fa-home {
  color: rgb(27, 40, 54);
  font-size: 32px;
  color: rgb(117,226,215);
}



.fas.fa-chevron-circle-left:hover {
  font-size: 32px;
  color: rgb(65,189,211);
}

.fas.fa-home:hover {
  font-size: 32px;
  color: rgb(65,189,211);
}

.fas.fa-calendar-times {
  color: red;
    font-size: 26px;
    opacity: .5;
}

.fas.fa-magic {
  color: rgb(117,226,215);
  font-size: 20px;
}

.fas.fa-magic:hover {
  color: rgb(117,226,215);
  opacity: .7;
}


.fas.fa-calendar-times:hover {
  color: red;
  opacity: .6;
}


.delete-button {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-top: 16px;
}

.fa-user-plus {
  color: rgb(117,226,215);
  font-size: 20px;
}

.fa-user-plus:hover {
  color: rgb(117,226,215);
  font-size: 20px;
  opacity: .7;
}

.fa-link {
  color: rgb(117,226,215);
  font-size: 20px;
}
.fa-clipboard-check {
  color: rgb(117,226,215);
  font-size: 20px;
}

.fa-link:hover {
  color: rgb(117,226,215);
  font-size: 20px;
  //opacity: .7;
}

.player-icon-info {
  display: flex;
}
