.navbar-lewagon {
  justify-content: space-between;
  background: $blue;
  border-width: 0px 0px 4px;
    border-color: rgb(126, 193, 255);
    border-style: solid;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  color: white;
}

.collapse .navbar-collapse {
  color: white;
}

.fa-bell:before {
   font-size: 24px;
}

.fa-envelope:before {
    font-size: 24px;
}

.fa-bell:hover {
  color:rgb(117,226,215);
}

.fa-envelope:hover {
    color: rgb(117,226,215);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    a {
      text-decoration: none;
    }
}

a.btn.btn-outline-light:hover {
  text-decoration: none;
  color: #40566F;
  background-color: white;
}
