.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
  font-size: 16px;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid rgb(117,226,215);;
}

.card-vault {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 1px 1px px rgba(0,0,0,0.3);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  font-family: 'Uncial Antiqua', cursive;

}


.cards-vault {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
}

h6 {
text-align:center;
display: grid;
grid-template-columns: 200px max-content 200px;
grid-template-rows: 15px 0;
grid-gap: 20px;
justify-content:center;
font-size: 25px;
color: rgb(27,40,54);
font-family: 'Uncial Antiqua', cursive;
}

h6:after,h6:before {
content: " ";
display: block;
border-bottom: 3px solid rgb(117,226,215);
}

h4 {
text-align:center;
display: grid;
grid-template-columns: 200px max-content 200px;
grid-template-rows: 15px 0;
grid-gap: 20px;
justify-content:center;
font-size: 25px;
color: rgb(27,40,54);
font-family: 'Uncial Antiqua', cursive;
}

h4:after,h4:before {
content: " ";
display: block;
border-bottom: 3px solid rgb(117,226,215);
}

.background-index {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-size: cover;
}

.container-index {
  display: flex;
  width: 90%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-vault {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-vault {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-vault {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-vault {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-vault {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  border:none;
  border-radius: 5px;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 210px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
}

.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 55%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
  color: rgb(64,86,111);
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}

.alert.alert-success {
  background-color: transparent;
  font-weight: 30px;
}
