
.current-day{
  background-color: #E1CE7A;
  color: rgb(47, 103, 167);
}

.year-current-day{
  background-color: #E1CE7A;
  border-radius: 50%;
}

.year-current-day-has-event{
  background-color: #7a8de1;
  border-radius: 50%;
}

