
.current-day{
  // background-color: #E1CE7A;
  color: rgb(47, 103, 167);
  content: "<i class="fas fa-dice-d20"></i>";
}

.year-current-day{
  background-color: #E1CE7A;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

.year-current-day-has-event{
  background-color: #7a8de1;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}

